:root {
    --cream: #F4F1DE;
    --red-orange: #E07A5F;
    --dark: #3D405B;
    --soft-green: #81B29A;
    --mustard:#F2CC8F;
}

*{box-sizing: border-box}

body {
    background-color: black;
    font-family: 'Noto Serif Khojki', serif;
}

#logo-text {
    font-family: 'Babylonica', cursive;
    font-size: 70px;
    color: var(--cream);
}

#barrel {
  opacity:65%;
  margin-top:1%;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-links {
    font-weight:900;
    font-size: 18px;
    color: var(--cream);
    position: sticky;
    top: -1px;
}

.nav-links:hover, .nav-links:focus {
    color: var(--mustard);
}



#hamburger {
    color:var(--cream);
}


.nav-wrapper {
background-color: black;
color: var(--cream);
}

/* about section/ banner image */
#tapa-cloth {
   position: relative;
   width:100%;
}

#about-section-text {
    border: solid 10px var(--dark);
}

#about-section-header {
    font-weight: 700;
    top: 50%;

}

#about-body {
    top: 80%;
    text-indent: 1cm;
    text-align:center;

}

.about-section {
    color:black;
    position: absolute;
    bottom: 50%;
    left: 25%;
    margin-right:20%;
    margin-left: 5%;
}

/* about section END */

/* cocktail menu */
.cocktails-container {
    color: var(--cream);
     font-family: 'Noto Serif Khojki', serif;
     margin-top:10%;
}

#cocktails-header {
    margin-bottom: 5%;
}

#cocktail-intro {
    margin-right: 10%; 
    color:var(--soft-green);
}

#cocktail-header-image {
    object-fit: cover;
    max-height: 300px;
    
}

.cocktail-menu-image {
    margin-top:2%;
    border-radius: 10%;
    opacity:85%;
    object-fit:cover;
    max-height:350px;
}


#cocktail-list-header {
    margin-left: 55%;
    margin-bottom:5%;
    color:var(--cream);
}

.cocktail-list-left {
    color:var(--soft-green);
}

.drink-title {
    color:var(--mustard);
}


.small {
    color: var(--mustard);
    padding: auto1; 
}
/* hero-image slider styling & animation */

#slider-container {
    max-width: 1400px;
    position: relative;
    margin:auto;
}

.mySlides {
    display: none;
}


#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width:auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--cream);
    font-weight: bold;
    font-size: 25px;
    transition:0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    right: 0;
    border-radius:  3px 0 0 3px;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--cream);
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--mustard);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/*  todo:
Design for desktop displays from 1024×768 through 1920×1080
Design for mobile displays from 360×640 through 414×896
Design for tablet displays from 601×962 through 1280×800 */